In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd 
import numpy as np

In [2]:
model = load_model('model.h5')
with open("label_encoder_gender.pkl", 'rb') as file:
    label_encoder_gender = pickle.load(file)
with open("Onehot_encoder_geo.pkl", 'rb') as file:
    Onehot_encoder_geo = pickle.load(file)
with open("scalar.pkl", 'rb') as file:
    scalar = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [4]:
input_data = pd.DataFrame([input_data])

In [5]:
##encoded_gender = label_encoder_gender.transform(input_data['Gender']).toarray()
encoded_geo = Onehot_encoder_geo.transform([input_data['Geography']]).toarray()
encoded_geo_df = pd.DataFrame(encoded_geo, columns=Onehot_encoder_geo.get_feature_names_out(['Geography']))
encoded_geo_df

c:\Users\mrafi\Documents\ANN\ANN\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [6]:
data = pd.concat([input_data.drop(["Geography"],axis=1),encoded_geo_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [7]:
data["Gender"] = label_encoder_gender.transform(data["Gender"])
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [8]:
data = scalar.transform(data)
data

array([[-0.51104873,  0.90134069,  0.09291598, -0.69444113, -0.26649227,
         0.80268517,  0.64104192,  0.97067965, -0.85598661,  1.00125078,
        -0.57715782, -0.57850497]])

In [9]:
prediction = model.predict(data)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 140ms/step

In [10]:
prediction_pa = prediction[0][0]
if prediction_pa > 0.5:
    print("customer is likely to churn")
else :
    print("customer is not going to churn")

customer is not going to churn

In [12]:
gender = 'Female'
label_encoder_gender.transform([gender])

array([0])